* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

main section {
    width: 23%;
}

main section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}